<ul>
<div class="row">
  <div class="large-12 columns">
    <h1 class="tag-line"> Welcome To PartStore </h1>


    <h3><%= link_to "Order Now", new_order_path %></h3>

    
  </div>
  <h5> About Us </h5>
  <p>

    FCP Euro was established by Harry and Kathy Bauer in 1986 as a brick and morter auto parts store located in Groton, Connecticut servicing the local Volvo and BMW parts markets. In 2001 the brick and morter store was taken online through Ebay by Nick Bauer and good friend Scott Drozd. Over the next few years Nick and Scott began to develop a website where they listed the entire catalog online of european car parts as well as develop their kitted products and reputation for great customer service.

It is our vision to be the most valued and trusted European online auto parts retailer in the world, through the relentless pursuit of quality and service. We pride ourselves in offering the highest quality replacement auto parts, unparalleled customer service, and equipping the do-it-yourself enthusiast with the knowledge and technical support to help maintain and own their vehicles. We do this by hand curating our catalog with only the highest quality OEM parts such as Bosch, Sachs, Bilstein, Lemforder, and Brembo. We have developed an extensive YouTube library of Do-It-Yourself instructional content that help car owners fix and maintain their vehicles, with hopes of providing them a more enjoyable car ownership experience.

Based in Milford, CT, we’ve committed ourselves to building our company based on quality, service, and continuous improvement, and we recognize that the growth and success of FCP Euro over the years is because of customers like you who faithfully support our business. Thank you.

To learn more about our story, how we came to be, and where we plan on going, take a look at our About Us page.
  <img src="http://kncautoparts.com/uploads/3/8/4/4/3844946/4268322_orig.jpg" />
</p>
</div>

</ul>
