<ul>
<div class="row">
  <div class="large-12 columns">
    <h1 class="tag-line"> Welcome To PartStore </h1>


    <h3><%= link_to "Order Now", new_order_path %></h3>


  </div>
  <h5> About Us </h5>
  <p>

    Good morning and thanks for Being here.
My name is Brian wilson. I joined Nissan sales team in 2009 and worked there for 3 years. in 2011 We were able to become the number one sales team for electronic vehicle in the country. Working 70 hours a week became almost impossible therefore I join a new car parts company in 2012 as an It and logistic support person. I was serving 22 locations in New England with desktop and shipping support. I was there for 6 years and at some point I realize that we’re always dealing with technical issues caused by software bugs and Since it was not a tech company fixing bugs was not a priority. I always wanted a job where I can be more innovative and creative. So I reached out to a good friend who is a software engineer and after talking a few times and seeing his projects and daily routine It felt like the right fit for my situation and so I joined launch.

Based on my experience  I created an app called PartStore were people can search for their car and look up different parts for that car using eBay product catalog API. They can compare prices and brands and add a part to their shopping cart.
At checkout I used UPS and USPS API so customer can compare shipping prices and choose a shipping method.I also used PayPal API so user can pay with existing PayPal account or credit card.Using my app consumers are able to buy their parts up to 50% less expensive than retail stores.

There are other fathers that I will add to this website such as inventory management for the warehouse owner and online order from vendors and dealers based on inventory adjustments for the company .

Once again I’m Brian and  thanks for taking the time to listen to my presentation and I’m ready to take any questions.

</p>
</div>
            <img src="http://kncautoparts.com/uploads/3/8/4/4/3844946/4268322_orig.jpg" />
            <img src="https://s8096.pcdn.co/wp-content/uploads/2013/08/car-brands.jpg" />
</ul>
