<ul class="material input">
<div class="row">
  <div class="large-12 columns">
    <h1 class="tag-line"> Welcome To PartStore </h1>


    <h3><%= link_to "Find Parts", cars_path %></h3>


  </div>
  <h5> About Us </h5>
  <p>

PartStore was Created in 2019 bt Brian Wilson. the goal of the website is to help customer getting a better quality parts for less money.By using this app user can save up to %50 in compare to local retailers.We only carry OEM parts which is basically the genuine part without factory name engraved on it.we also offer free shipping on orders of $200 and more.

</p>
</div>
<center>
<img src="https://icdn2.themanual.com/image/themanual/hennessey-venom-f5-2.jpg" alt="centered image" />
</center>

</ul>
